<!-- Navbar -->
    <nav class="navbar">
        <a href="/" class="logo">🎓 UNIVERSITÉ</a>
        <div class="nav-toggle" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="/">Accueil</a></li>
            <li><a href="#departement">Départements</a></li>
            <li><a href="#scolarite">Scolarité</a></li>
            <li><a href="#concours">Concours</a></li>
            <li><a href="/connexion">Connexion</a></li>
            <li><a href="/inscription">Inscription</a></li>
            <li><a href="/explorer">explorer</a></li>
        </ul>
    </nav>
